#content{
    background: aqua;
    height: 600px;
}

#data{
    position: absolute;
    background: blueviolet;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    transform: rotate3d(10, 10, 10, 25deg);
    transform-box: content-box;

}

#data:hover{
    width: 400px;
    background: blue;
}